<div class="header-container">
  <div class="icon-container">
      <mat-icon matTooltip='Save Note' (click)="saveNoteDescriptionHandler()">save</mat-icon>
      <mat-icon matTooltip='Toggle Sidebar' (click)="toggleHandler()">web</mat-icon>
      <mat-icon 
        class="delete-icon"
        [ngClass]="isSelected? 'selected': ''"
        [ngClass]="disableEditing? 'disable-editing': ''"
        matTooltip='Delete Note'
        (click)="deleteNoteHandler()">delete
      </mat-icon>
      <mat-icon 
        [ngClass]="disableEditing? 'disable-editing': ''"
        matTooltip='Create New Note'
        (click)="saveNoteTitleHandler()">edit
      </mat-icon>
      <mat-icon *ngIf="!disableEditing" matTooltip='Disable Editing' (click)="disableEditingHandler()">lock_open</mat-icon>
      <mat-icon *ngIf="disableEditing" matTooltip='Enable Editing' (click)="disableEditingHandler()">lock</mat-icon>
  </div>
  <div class="search-bar">
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search" (keyup)="searchHandler(searchInput)" #searchInput />
</div>
</div>
